.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:10px 20px;
    position: fixed;
    top:0;
    transition:all .5s;
    z-index: 1;
}
.bg-black{
    background-color: #111;
}
.navbar .title{
    letter-spacing: 10px;
    font: 400 43px "Poppins", sans-serif;
    display: inline-block;
    vertical-align:bottom;
    color:red;
    margin:0;
}

.btn:focus{
    box-shadow: 0px 0px 0px 2px rgb(255, 165, 31);
    /* box-shadow: none; */
}

